.array-container {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

.array-bar {
  width: 4px;
  display: inline-block;
  margin: 0 2px;
}

.score{
  position: relative;
  margin: 10px;
}

table {
margin: 0 auto;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a56613;
  color: white;
}
td{
  background-color:black;
  color: white;
}

.row{
  background-color:rgb(28, 31, 31);
  
  color:aquamarine;
  
   
}
#id1{
  color: rgb(243, 182, 13);
}
.row:hover:not(.active) {
  
  color:white;
}
td:hover:not(.active) {
  
  background-color: white;
  color:black;
}
